h1{
    font-size: 60px;
}
h2{
    font-size: 52px;
}
p{
    font-size: 30px;
    font-weight: bold;
}
ul{
    font-size: 32px;
    font-weight: bold;
}
ol{
    font-size: 32px;
    font-weight: normal;
}
#mini-list{
    font-size: 22px;
    font-weight: normal;
}
#list-text{
    font-size: 32px;
    font-weight: normal;
}